.gradle/vcs-1/gc.properties
.gradle/nb-cache/trust/2271893A722333ADB5578E987F168B67ADC4FD2E9C9031A9268C94F1141295C5
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/9.0.0/gc.properties
.gradle/9.0.0/fileHashes/fileHashes.lock
.gradle/9.0.0/fileHashes/fileHashes.bin
.gradle/9.0.0/fileChanges/last-build.bin
.gradle/9.0.0/checksums/checksums.lock
.gradle/8.9/gc.properties
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/8.9/fileChanges/last-build.bin
.gradle/8.9/dependencies-accessors/gc.properties
.gradle/8.9/checksums/checksums.lock
.gradle/8.10/gc.properties
.gradle/8.10/fileHashes/fileHashes.lock
.gradle/8.10/fileHashes/fileHashes.bin
.gradle/8.10/fileChanges/last-build.bin
.gradle/8.10/dependencies-accessors/gc.properties
.gradle/8.10/checksums/checksums.lock
