<footer class="pillar-footer-section">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-brand">
        <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/51619/pillar-black-transparent.png/e1d4dc12-d515-a37c-9860-922eb80f6a13?version=1.1&t=1729099912033" alt="Pillar Bank" class="footer-logo">
      </div>
      
      <div class="footer-links">
        <div class="footer-column">
          <h6>ACCOUNTS</h6>
          <ul>
            <li><a href="#">Investment</a></li>
            <li><a href="#">Checking</a></li>
            <li><a href="#">Credit Cards</a></li>
            <li><a href="#">Saving</a></li>
            <li><a href="#">Loans</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h6>INVESTMENTS</h6>
          <ul>
            <li><a href="#">IRAs</a></li>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Bonds</a></li>
            <li><a href="#">529 College Savings</a></li>
            <li><a href="#">TIPS</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h6>PLANNING</h6>
          <ul>
            <li><a href="#">Financial Planning</a></li>
            <li><a href="#">Retirement Planning</a></li>
            <li><a href="#">Wealth Management</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h6>TOOLS</h6>
          <ul>
            <li><a href="#">Loan Calculator</a></li>
            <li><a href="#">Depreciation Calculator</a></li>
            <li><a href="#">Credit Score</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h6>INSURANCE</h6>
          <ul>
            <li><a href="#">Life</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Property</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Auto</a></li>
          </ul>
        </div>
        
        <div class="footer-column">
          <h6>COMPANY</h6>
          <ul>
            <li><a href="#">About Pillar</a></li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="footer-disclaimer">
        <p>Pillar is authorised and regulated by financial authorities within the countries it operates</p>
      </div>
      <div class="footer-copyright">
        <p>© 2021 Pillar Bank. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>