<div class="pillar-security-section">
  <div class="security-container">
    <div class="security-content">
      <div class="security-text">
        <h2>Security Is Our Focus</h2>
        <div class="security-features">
          <div class="security-feature">
            <h4>256-bit AES encryption</h4>
            <p>Every piece of information is encrypted with advanced, highest-security encryption algorithms</p>
          </div>
          
          <div class="security-feature">
            <h4>Personal information is never shared</h4>
            <p>We never share or sell your personal information outside of our organization.</p>
          </div>
          
          <div class="security-feature">
            <h4>Identity theft monitoring</h4>
            <p>ITM comes standard with every Pillar account. Not only do we protect your identity, we actively monitor for identity theft.</p>
          </div>
          
          <div class="security-feature">
            <h4>Learn about our security</h4>
            <p>We take security seriously. Read about our standards and practices in our detailed security document.</p>
          </div>
        </div>
        <a href="#" class="btn btn-outline">Learn More</a>
      </div>
      <div class="security-image">
        <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/51813/security.png/99253919-5752-a144-31c5-2d8c812db0de?version=1.0&t=1729182138959" alt="Security Shield" class="security-img">
      </div>
    </div>
  </div>
</div>