<div class="pillar-hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">Open a bank account<br><span class="highlight">in 3 minutes</span></h1>
      <p class="hero-subtitle">Take control of your money with the top rated banking app among regional banks*</p>
      <div class="hero-actions">
        <a href="/web/pillar/onboarding" class="btn btn-primary hero-cta">Get Started Today</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/52117/welcome-to-pillar-large.png/74411bea-124b-720e-4d51-2e60999fa208?version=1.0&t=1729180602950" alt="Welcome to Pillar Bank" class="responsive-image">
    </div>
  </div>
</div>