<div class="pillar-services-section">
  <div class="services-container">
    <div class="service-card">
      <div class="service-icon">
        <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/51813/accounts-icon-transparent.png/6de4a7fa-0029-c1e4-f1de-47b0b8a23dc7?version=1.0&t=1729155456631" alt="Accounts" class="icon-image">
      </div>
      <h3>Accounts</h3>
      <p>Complete banking solutions for personal and business needs</p>
      <a href="/web/pillar/accounts" class="service-link">Learn More</a>
    </div>
    
    <div class="service-card">
      <div class="service-icon">
        <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/51813/loans-icon-transparent.png/24e179b1-dd4f-3863-45ce-dbbb1a764719?version=1.0&t=1729155722382" alt="Loans" class="icon-image">
      </div>
      <h3>Loans</h3>
      <p>Flexible lending solutions to help you achieve your goals</p>
      <a href="/web/pillar/loans" class="service-link">Learn More</a>
    </div>
    
    <div class="service-card">
      <div class="service-icon">
        <img src="https://webserver-lctfsidemocam-prd.lfr.cloud/documents/51545/51813/creditcards-icon-transparent.png/a15323e4-204a-5afe-39b6-cf65143be71e?version=1.0&t=1729155505958" alt="Credit Cards" class="icon-image">
      </div>
      <h3>Credit Cards</h3>
      <p>Reward programs and competitive rates for every lifestyle</p>
      <a href="/web/pillar/credit-cards" class="service-link">Learn More</a>
    </div>
  </div>
</div>